[project]
	description = OGS source code
[access "refs/*"]
	owner = group user/Dmitry Yu. Naumov (endJunction)
[access "refs/for/refs/*"]
	read = group user/Dmitry Yu. Naumov (endJunction)
	push = group user/Dmitry Yu. Naumov (endJunction)
	label-Code-Review = -2..+2 group user/Dmitry Yu. Naumov (endJunction)
	label-Verified = -1..+1 group user/Dmitry Yu. Naumov (endJunction)
	rebase = group user/Dmitry Yu. Naumov (endJunction)
	removeReviewer = group user/Dmitry Yu. Naumov (endJunction)
	submit = group user/Dmitry Yu. Naumov (endJunction)
[access "refs/heads/*"]
	read = group user/Dmitry Yu. Naumov (endJunction)
	create = group user/Dmitry Yu. Naumov (endJunction)
	push = +force group user/Dmitry Yu. Naumov (endJunction)
	pushMerge = group user/Dmitry Yu. Naumov (endJunction)
[access "refs/tags/*"]
	push = +force group user/Dmitry Yu. Naumov (endJunction)
	pushTag = group user/Dmitry Yu. Naumov (endJunction)
	pushSignedTag = group user/Dmitry Yu. Naumov (endJunction)
